<h1><%= title %></h1>

<table class="photo">
   <tr>
      <td><img class="img-circle" src="/images/marina.jpg"></td>
      <td><img class="img-circle" src="/images/mariale.jpg"></td>
   </tr>
   <tr>
      <td class="caption"> Marina Tyan </td>
      <td class="caption"> Mª Alejandra Bermúdez Guerrero </td>
   </tr>
</table>
   
