<!DOCTYPE html>
<html>
   <head>
     <meta charset="utf-8"><title> Preguntas </title>
     <link rel="shortcut icon" href="favicon.ico" type="image/x-icon" />
     <link rel='stylesheet' href='/stylesheets/style.css' />
     <link rel='stylesheet' type='text/css'
           media='only screen and (min-width: 800px) and (min-device-width: 600px)'
           href='/stylesheets/wide.css'/>
     <link rel='stylesheet' type='text/css' 
           media='only screen and (max-width: 480px)'
           href='/stylesheets/smartphone.css'/>
   </head>

   <body>
    <div id="page">
     <header class="main">
        <h2>Quiz<span class="no-narrow">: 
	    el juego de las preguntas</span>
        </h2>
        <form method="get" action="/quizzes">
            <input type="text" id="search" name="search" placeholder="Buscar una pregunta" />
            <input type="hidden" id="hide" name="hide" value="1">
            <input type="submit" alt="Buscar" value="Buscar" />
          </form>
     </header>

     <nav class="main" role="navigation">
        <a href="/">Inicio</a>
        <a href="/quizzes">Preguntas</a>
        <a href="/author">Créditos</a>
     </nav>

     <section class="main">
         <div><%- body %></div>
        <div>
          <table>
             <tr>
                <td>
                  <a href="/quizzes/1">Capital de Italia</a>
                </td>
             </tr>
             <tr>
                <td>
                  <a href="/quizzes/2">Capital de Portugal</a>
                </td>
             </tr>

     </section>

     <footer class="main">
        <a href="http://es.wikipedia.org/wiki/Quiz">
	   ¿Qué es un Quiz?</a>
       <br><a href="https://github.com/marinatyan/quiz.git">
           Página del proyecto en GitHub</a>
     </footer>
    </div>
   </body>
</html>
